.Style
{
    background-image: linear-gradient(white,  green);
    width:200px;
    border: 30px;
    box-shadow: 10px 5px 2px rgb(0, 0, 0);
}
#first
{
    font-family: Arial, Helvetica, sans-serif;
}
#second
{
    font-family: 'Courier New', Courier, monospace;
}
#third
{
    font-family: 'Times New Roman', Times, serif;
 }